.bg-graypink{
  background-color: rgb(188,169,159);
  height: 100%;
  width: 100%;
  color: white;
}

.bg-beige{
  background-color: #C5C4C0;
  height: 100%;
  width: 100%;
  color: white;
}

.bg-grayblue{
  background-color: #87959F;
  height: 100%;
  width: 100%;
  color: white;
}

.nopadding{
  padding:0;
}

.card{
 flex-direction: row;

}

.card-title{
  color: black;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Bai Jamjuree', cursive;
  margin-bottom: 50px;
}

.card-text{
  color: black;
  font-family: 'Bai Jamjuree', cursive;
}

.card~img{
  align-self:flex-start;

}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  color:rgb(0,0,0,0);
  text-align: center;
  padding-top:40%;
}

#ux-nutrition-img:hover .overlay {
  /* background-color:rgb(0,0,0,0.5); */
  background: rgb(0,0,0,0.7);
  color: white;
}

#code-midterm-video:hover .overlay {
  /* background-color:rgb(0,0,0,0.5); */
  background: rgb(0,0,0,0.7);
  color: white;
}

.text-overlay{

}

.card-body{
  padding-left:35px;
  padding-top:50px;
  padding-bottom:50px;
}
.graypink{
  background: rgb(188,169,159);
}
.light-beige{
  background: rgb(213,213,214);
}
.bg-graypink-transparent{
  background-color: rgb(188,169,159,0.8);
}

.bg-beige-transparent{
  background-color: rgb(197,196,192,0.8);
}

.bg-grayblue-transparent{
  background-color: rgb(135,149,159,0.8);
}

body{
  height：100%;
}
.container{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom:80px;
  min-width: 100%;
  min-height: 85%;
}

.table-content .tab-pane .fade .show .active, .nav-item{
  z-index: 40;
}

.tabpanel{
  padding:50px;
}
.text-bg{
  position:absolute;
  bottom:-20px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 89px;
  z-index: 10;
  color: rgb(65,59,55,0.3) ;
}

.text-bg-works{
  position:absolute;
  left:60px;
  top:-40px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size:120px;
  z-index:10px;
  color: rgb(65,59,55,0.5) ;
}

.text-bg-photo{
  position:absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 25%;
  right: 25%;
  top:140px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size:100px;
  z-index:10px;
  color: rgb(65,59,55,0.5) ;
}

.text-first{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  z-index: 40;
  color:white;
}

.this-bold{
  font-weight: bold;
}
.text-second{

  font-family: 'Dancing Script', sans-serif;
  font-size:28px;
}

.text-footer{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 25px;
  color:#EDF1F4;
}

.text-footer-copyright{
  font-family: 'Bai Jamjuree', cursive;
  font-size: 14px;
  color:black;
  text-align: center;
  margin-bottom: 10px;
}

.text-content{
  margin-top:50px;
  margin-left:100px;
  margin-bottom: 20px;
  margin-right: 100px;
  font-family: 'Lora', serif;
  font-size: 24px;
  color: rgb(65,59,55) ;
}
.text-content-small{
  margin-left:100px;
  margin-right: 100px;
  font-family: 'Lora', serif;
  font-size: 18px;
  color: rgb(80,75,68) ;
}
.nav{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 25px;
}

.nav-link{
  color: rgb(65,59,55,0.5);
  padding-bottom:20px;
  font-weight: lighter;
}

.nav-tabs{
  border-style:none;
}

.active{
  color:white;
  font-weight: bold;
}

 .row{
  margin: 0px;
}

footer{
  padding-top: 20px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 8px;
  margin-bottom:0px;
  min-height: 15%;
}

.nav-tabs~ .active{
  background:white;
  color: rgb(188,169,159);
}

.nav-tabs~ .nav-link{
  background-color: rgb(188,169,159);
  color:white;
}

.nav-tabs~ .active{
  background:white;
}

.nav-tabs~ .nav-link{
  background-color: rgb(188,169,159);
  color:white;
}

.nav-link:hover{
  color: rgb(65,59,55);
}

.tab-content{
  background-color: white;
  width:100%;
  padding:50px;
}

.carousel{
  background: black;
  justify-content: center;
  width:100%;
  height: 700px;
}
.img-fluid{
  height: 100%;
  object-fit:contain;
}
.carousel-item{
  object-fit:contain;
}
.carousel-inner{
  vertical-align: middle;
  align-items: center;
  background: black;
  width:100%;
  height: 100%;

}
.photos-row{
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}




@media screen and (max-width:1170px){
  .text-bg-photo{
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 25%;
    right: 25%;
    top:160px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size:75px;
    z-index:10px;
    color: rgb(65,59,55,0.5) ;
  }
}
@media screen and (max-width:920px){
  .text-bg{
    bottom:7px;
    font-size: 58px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom:25px;
  }

  .text-bg-works{
    position:absolute;
    left:29px;
    top:-25px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size:80px;
    z-index:10px;
    color: rgb(65,59,55,0.3) ;
  }

  .text-second{
  font-size: 24px;
  }

  .text-content{
    font-size: 26px
  }

  .text-content{
    margin-top:50px;
    margin-left:58px;
    margin-bottom: 20px;
    margin-right: 58px;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: rgb(65,59,55) ;
  }

  .text-content-small{
    margin-left:58px;
    margin-right: 58px;
    font-family: 'Lora', serif;
    font-size: 14px;
    color: rgb(80,75,68) ;
  }
  .text-footer{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 22px;
    color:#EDF1F4;
  }

  .text-footer-copyright{
    font-family: 'Bai Jamjuree', cursive;
    font-size: 11px;
    color:black;
    text-align: center;
    margin-bottom: 8px;
  }

  .text-bg-photo{
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 15%;
    right: 15%;
    top:190px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size:55px;
    z-index:10px;
    color: rgb(65,59,55,0.5) ;
  }

  span{
    display: block;
  }
}
@media screen and (max-width:768px){
  .text-bg{
    font-size: 48px;
    bottom:-40px;
  }

  .text-bg-works{
    position:absolute;
    left:20px;
    top:-14px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size:70px;
    z-index:10px;
    color: rgb(65,59,55,0.3) ;
  }

  .text-second{
  font-size: 21px;
  }

  .text-content{
    font-size: 24px
  }

  .text-content{
    margin-top:50px;
    margin-left:52px;
    margin-bottom: 20px;
    margin-right: 52px;
    font-family: 'Lora', serif;
    font-size: 16px;
    color: rgb(65,59,55) ;
  }

  .text-content-small{
    margin-left:52px;
    margin-right: 52px;
    font-family: 'Lora', serif;
    font-size: 11px;
    color: rgb(80,75,68) ;
  }

  .text-bg-photo{
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 12%;
    right: 12%;
    top:308px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size:45px;
    z-index:10px;
    color: rgb(65,59,55,0.5) ;
  }

  .text-footer{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 20px;
    color:#EDF1F4;
  }

  .text-footer-copyright{
    font-family: 'Bai Jamjuree', cursive;
    font-size: 11px;
    color:black;
    text-align: center;
    margin-bottom: 6px;
  }

  span{
    display: block;
  }
}
