.bg-darkpink{
  background-color: rgb(184,164,155);
  height:80%;
  width:100%
  color:white;
}


.topic-pic{
  background-image: url(./assets/try.jpeg);
  padding: 0px;
}

.topic-text{
  padding-left: 170px;
  padding-right: 30px;
  padding-top: 300px;
  padding-bottom: 20px;
}

.header-first{
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
}

.header-second{
  font-family: 'Sorts Mill Goudy', serif;
  font-size:15px;
}

.wrap{
  border: 15px solid #E4E4E4;
}

.wrap-left{
  border-left: 15px solid #E4E4E4;
}

.wrap-right{
  border-right: 15px solid #E4E4E4;
}

.gray{
  background: #E4E4E4;
}

.darkpink{
  background: #A04732;
}

.textBg{
  background-image:url(./assets/bg.jpeg);
  background-repeat:no-repeat;
  background-size:100% 100%;
  padding:70px;
  -moz-background-size:100% 100%;
}




.nav-link{
  color: gray;
  margin-right:100px;
  margin-left:100px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.nav-link.active{
  color: black;
}

.nav-link:hover{
  color:  #A04732;
}

.footer {
  background-color: #A04732;
  height: 50px;
  margin-top: -50px;
}


.mynav li{
  padding: 20px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #E4E4E4;
  width:100%;
}

.mynav li:hover{
  color: white;
  background: #A04732;
  cursor: pointer;
}


.shortP{
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 8pt;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 7px;
  margin-bottom: 13px;
  @include media-breakpoint-up(sm) {
      font-size: 12pt;
      margin-left: 70px;
      margin-right: 70px;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  @include media-breakpoint-up(md) {
      font-size: 18pt;
      margin-left: 190px;
      margin-right: 190px;
      margin-top: 90px;
      margin-bottom: 30px;
  }
}


p {
  font-size: 8pt;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 7px;
  margin-bottom: 13px;
}

@include media-breakpoint-up(sm) {
    font-size: 12pt;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
}

@include media-breakpoint-up(md) {
    font-size: 18pt;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 90px;
    margin-bottom: 30px;
}
